 <h1>User info</h1>

<%= attachment_image_tag @user_id, :image, :fill, 100, 100, format: "jpeg", class: "img-square pull-left image", fallback: "no_image.jpg" %>
<%= @user_id.name %>
<%= @user_id.introduction %>

<%=link_to "Edit", edit_user_path(@user.id) %>

 <h1>Users</h1>

  <table>
   <thead>
   	<tr>
   	  <th><p>image</p></th>
      <th><p>name</p></th>
      <th><p></p></th>
    </tr>
    </thead>
<% @users.each do |user| %>
   <tbody>
    <tr>
   <span><td><%= attachment_image_tag user, :image, :fill, 100, 100, format: "jpeg", class: "img-square pull-left image", fallback: "no_image.jpg" %></td></span>
   <td><span><%= user.name %></span></td>
   <td><%=link_to "Show", show_user_path(user.id) %></td>
   </tr>

    <% end %>
</tbody>
</table>
</table>